.css-7x0ce8-MuiPaper-root-MuiContainer-root{
    display: flex !important;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: column !important;
}