.meetingcards{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 70px;
}

.css-14tjg8b-MuiPaper-root-MuiCard-root{
    width: 800px !important;
}

.css-1t6e9jv-MuiCardActions-root{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.meetlink{
    text-decoration: none;
    font-size: 1.2em;
    margin: 15px;
}