@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.contacttitle{
    font-family: 'Poppins', sans-serif !important;
    margin-top: 50px !important;
}

.mapdiv{
    margin-bottom: 150px;
    margin-top: 0px;
}