@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.contacttitle{
    font-family: 'Poppins', sans-serif !important;
    margin-top: 50px !important;
}

.mapdiv{
    margin-bottom: 150px;
    margin-top: 0px !important;
}

.centerdiv{

}

.phonetext{
    margin-bottom: 10px;
    font-size: 1.2em;
}

.bigdiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    gap:20px;
    margin-bottom: 50px;
}